div.button__container {
  flex: 0;
  flex-grow: 0;

  display: flex;
}

div.button__container.button__container--center {
  justify-content: center;
}

.button__main {
  display: inline-block;
  padding: 1rem 1.5rem;

  background-color: var(--color-spell-ink);
  color: var(--color-spell-aura);

  font-size: var(--type-size-button);
}

button,
.button {
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

button.active .button.active,
button:hover,
.button.active {
  transform: scale(1.5);
}
