div.button__container {
  flex: 0;
  flex-grow: 0;

  display: flex;
}

div.button__container.button__container--center {
  justify-content: center;
}

.button__main {
  display: inline-block;
  padding: 1rem 1.5rem;

  background-color: var(--color-spell-ink);
  color: var(--color-spell-aura);

  font-size: var(--type-size-button);
}
