body {
  display: flow-root;
}

main {
  min-height: -webkit-fill-available;

  display: flex;
  flex-flow: column nowrap;
}

main > .content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: var(--dim-sp-xs);
}

.hr__sp--small {
  margin-top: var(--dim-sp-sm);
  margin-bottom: var(--dim-sp-sm);
}
