* {
  color: var(--color-spell-ink);

  font-family: "Eiko", serif;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

body {
  margin: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100%;

  overflow: hidden;
}

canvas[resize] {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;
}

hr {
  border: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}
