extends layout/layout.pug

block content 
        .canvas__container
            canvas#canvas(resize="true")
            hr.hr__sp--small
            div.spell-action__container
                ul
                    li
                        a(href="/history") History
                    li
                        a() Circle
                    li
                        a() Line
                    li
                        a() Outline
                    li
                        a() Label

block scripts
    script(type="module" src="/js/main.js") 