doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title Temporal Magicks
    body
        main
            canvas#canvas(resize="true")
            div.container__spell-action
                ul
                    li
                        a(href="/history") History
                    li
                        a() Circle
                    li
                        a() Line
                    li
                        a() Outline
                    li
                        a() Label

        script(type="module" src="/js/main.js") 