extends layout/spellpage.pug

block primary
        figure.image__prompt--container
                img(src="https://source.unsplash.com/random", alt="", srcset="").image__prompt
        .fill
            .center
                .button__container.button__container--center
                    a(href="/canvas").button__main Start