doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title NEO
    body
       div.neo-console-container
        section.neo-console
            div.labels
                div.title-box
                    div Soul
                    div Neo 
                    div Soul
                div.neo-label OS VERSION 3.0.5 — CODE: SOUL
            div 
            .prompt-container
                .prompt 
                    .console-text-container#console-text
                    .prompt-input
                        .prompt-box
                        input(type="text", name="")#neo-console-prompt
                        .prompt-input-instructions Type your destiny
        section#climax

       script(type="module" src="/js/main.js") 